html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #4D4D4D;
}

header h1 {
  padding: 14px 16px;
  margin: 0;
  color: white;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  padding: 14px 16px;
  background-color: #333333;
  color: white;
  text-align: center;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

main {
  padding: 0 12px;
}

footer {
  background-color: #4d4d4d;
  color: white;
  bottom: 0px;
  position: static;
  width: 100%;
}

footer p {
  padding: 16px 14px;
  margin: 0;
}
